/* public/styles.css */

/* Basic reset to remove default padding and margin */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Apply box-sizing: border-box to all elements for easier layout handling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* Set default font family and size */
body {
  font-family: "Comic Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  height: inherit;
}

/* Center the content vertically and horizontally */
.container {
  text-align: center;
  padding: 1.25rem;
}

/* Style the main heading */
h1 {
  font-size: 1.625rem;
  margin-bottom: 0.625rem;
}

h2 {
  font-size: 1.3rem;
}

main {
  margin-bottom: 1rem;
}

header {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ddd;
}

/* Navigation Styles */
nav {
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Hamburger Styles */
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 1.25em;
  justify-content: space-between;
  width: 1.875em;
}

.hamburger span {
  background-color: #444;
  border-radius: 0.1875em;
  display: block;
  height: 0.25em;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
}

.hamburger span:nth-child(1) {
  transform-origin: top;
}

.hamburger span:nth-child(3) {
  transform-origin: bottom;
}

/* Navigation Links Styles */
.nav-links {
  column-gap: 0.625rem;
  left: 0;
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
}

.show-nav {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.9375rem 1.25rem;
  max-height: 31.25rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  gap: 0.625rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
}

.nav-links li.active a {
  color: #007bff;
}

/* Hamburger Animation Styles */
.change span:nth-child(1) {
  transform: translateY(0.5313em) rotate(45deg);
}

.change span:nth-child(2) {
  opacity: 0;
}

.change span:nth-child(3) {
  transform: translateY(-0.5313em) rotate(-45deg);
}

/* Media Query for Desktop */
@media screen and (min-width: 1000px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0.25rem 1.25rem 0;
    max-height: none;
    position: relative;
  }

  .nav-links li {
    margin-left: 1.25rem;
  }
}

/* Style the logo */
header .logo img {
  width: 120px;
  height: 60px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
}

textarea {
  width: 100%;
  max-width: 800px;
  font-family: inherit;
  padding: 0.3125rem;
  font-size: 0.9375rem;
}

.count-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
}

input[type="number"] {
  padding: 0.625rem;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 0.9375rem;
  min-width: 150px;
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.radio-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1875rem;
}

/* Style the language select dropdown */
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23aaa' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.4375rem;
  padding: 0.625rem;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 0.9375rem;
  min-width: 150px;
}

/* Style the text conversion result container */

.text-conversion-result-container {
  width: 100%;
}

/* Style the submit button */
button {
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9375rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  max-width: 800px;
  margin: 0.3125rem auto 0;
}

/* Style the error message */
#errorText {
  padding: 0.625rem 0 0;
  font-size: 1.125rem;
  color: #333;
  font-weight: bold;
  display: none;
  margin: auto;
  max-width: max-content;
}

/* Style the audio element */
audio {
  margin-top: 1.25rem;
  width: 100%;
  max-width: 800px;
  display: none;
}

.home ul {
  list-style-type: none;
}

.home ul > li {
  margin: 0.625rem 0;
}

/* Style the summary result container */

.summary-result-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem;
  gap: 1.5625rem;
}

.summary-result-wrapper > p {
  margin-bottom: 0.625rem;
}

.analysis-result-container {
  margin-top: 1.75rem;
}

.analysis-result-container > div {
  margin-top: 1.25rem;
}

.analysis-result-container h3 {
  margin-bottom: 0.625rem;
}

/* Responsive table styles */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border-color: #74b7ff;
  border-style: solid;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }

  .table th,
  .table td {
    padding: 6px;
  }
}

/* Style the footer container */
footer {
  background-color: #333;
  color: #fff;
  margin-top: auto;
}

/* Style the footer text */
footer p {
  margin: 0;
  font-size: 0.875rem;
}
