<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Wizard - Home</title>
    <link
      href="https://fonts.googleapis.com/css?family=Comic Neue"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Include the header partial -->
    <%- include('../partials/header') %>

    <!-- Include the main content -->
    <main class="page-home">
      <div class="container">
        <h1>Welcome to Word Wizard</h1>
        <p>
          Word Wizard is an application that allows you to perform various text
          manipulations and conversions on your text.
        </p>
        <p>To get started, choose one of the following options:</p>
        <ul class="feature-list">
          <li class="feature-item">
            <a class="feature-link" href="/text-to-speech">Text to Speech</a>
            <p class="feature-description">
              Convert your text into spoken words. Useful for creating audio
              content or accessibility purposes.
            </p>
          </li>
          <li class="feature-item">
            <a class="feature-link" href="/text-to-text"
              >Text to Text Conversion</a
            >
            <p class="feature-description">
              Transform your text using different conversion techniques, such as
              case conversion or text encoding.
            </p>
          </li>
          <li class="feature-item">
            <a class="feature-link" href="/text-summarizer">Text Summarizer</a>
            <p class="feature-description">
              Generate concise summaries of lengthy text documents, making it
              easier to grasp key points.
            </p>
          </li>
          <li class="feature-item">
            <a class="feature-link" href="/text-analyzer">Text Analyzer</a>
            <p class="feature-description">
              Analyze your text for sentiment, part-of-speech, named entities,
              and more, gaining insights into its content.
            </p>
          </li>
          <!-- Add more feature descriptions here -->
        </ul>
      </div>
    </main>

    <!-- Include the footer partial -->
    <%- include('../partials/footer') %>

    <!-- Include the main client-side script -->
    <script type="module" src="js/index.js"></script>
  </body>
</html>
