<!-- views/pages/text-to-text.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Wizard - Text to Text Conversion</title>
    <%- include('../partials/styles') %>
  </head>
  <body>
    <!-- Include the header partial -->
    <%- include('../partials/header') %>

    <!-- Include the main content -->
    <main class="page-text-to-text">
      <div class="container">
        <h1>Text to Text Conversion</h1>
        <div class="content-container">
          <textarea
            id="textToTextTextInput"
            class="textarea"
            rows="10"
            cols="50"
            placeholder="Enter text"
            required
          ></textarea>
          <!-- Error text container -->
          <div id="errorText" class="error-text"></div>
          <!-- Character and Word Count -->
          <div class="count-container">
            <p>Character Count: <span id="textToTextCharCount">0</span></p>
            <p>Word Count: <span id="textToTextWordCount">0</span></p>
          </div>
          <div
            id="textConversionResultContainer"
            class="text-conversion-result-container"
          >
            <!-- Result of the text conversion will be shown here -->
          </div>
          <!-- Buttons for different text conversions -->
          <div class="button-container">
            <button class="button conversion-button" data-action="upper">
              Upper Case
            </button>
            <button class="button conversion-button" data-action="lower">
              Lower Case
            </button>
            <button class="button conversion-button" data-action="capitalize">
              Capitalize
            </button>
            <button class="button conversion-button" data-action="trim">
              Trim Text
            </button>
            <button class="button conversion-button" data-action="clean">
              Clean Spaces
            </button>
            <button class="button conversion-button" data-action="hashtags">
              Hashtags
            </button>
            <button class="button conversion-button" data-action="order">
              Order Text
            </button>
            <button class="button conversion-button" data-action="reverse">
              Text Reverser
            </button>
            <button
              class="button conversion-button"
              data-action="remove-accents"
            >
              Remove Accents
            </button>
            <button
              class="button conversion-button"
              data-action="remove-duplicates"
            >
              Remove Duplicate Lines
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- Include the footer partial -->
    <%- include('../partials/footer') %>

    <!-- Include the main client-side script -->
    <script type="module" src="js/text-to-text.js"></script>
  </body>
</html>
